//Fonts
$default-fz: 16px;
$default-font: 'pobedaBold',
sans-serif;
$text: #181C15;
$text-faded: #323642;
$accent: #fff;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

// @media
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);


//other
$gutter: 30px;
